doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Weather Map
    link(rel='stylesheet', href='./css/app.css')
  body
    h1 Weather.Map


      input#zip(type='text', placeholder='Enter Zip Code', autofocus=true)
      button#add Find

    #map

    #graphs




    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src="http://www.amcharts.com/lib/3/amcharts.js")
    script(src="http://www.amcharts.com/lib/3/serial.js")
    script(src="http://www.amcharts.com/lib/3/themes/none.js")
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyB5LpW6v28ZrC1KqMVjNZouxRFwI3h9GY0&sensor=true')
    script(src='./js/es5/main.js')
    script(src='./js/es6/main.js')
